@font-face {
  font-family: 'KumbhSans-Thin';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-ExtraLight';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-Light';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-Regular';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-Medium';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-SemiBold';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-Bold';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-ExtraBold';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'KumbhSans-Black';
  src: url('/assets/fonts/Kumbh_Sans/KumbhSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
